* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    animation: headerNotify ease-in 0.5s;
    width: 380px;
    height: 480px;
    margin: 6% auto;
    background: #fff;
    position: relative;
    padding: 5px;
    overflow: hidden;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /*Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0, 0.4);
    padding-top: 10px;
    animation: headerNotify ease-in 0.5s;
}

.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /*Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0, 0.4);
    padding-top: 10px;
    animation: headerNotify ease-in 0.5s;
}

.features1 {
    animation: headerNotify ease-in 0.5s;
}

@keyframes headerNotify {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.button-box {
    width: 220px;
    height: 35px auto;
    margin: 35px auto;
    position: relative;
    display: flex;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn {
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn1 {
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, rgb(235, 20, 103), rgb(248, 245, 50));
    border-radius: 30px;
    transition: 0.5s;
}

.social-icons {
    margin: 30px auto;
    justify-content: center;
    display: flex;
}
.social-icons img {
    margin: 0 12px;
    width: 30px;
    box-shadow: 0 10px 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgb(235, 20, 103), rgb(248, 245, 50));
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box {
    margin: 40px 10px 30px 0;
}
span {
    color: rgb(180, 101, 101);
    font-size: 12px;
    bottom: 66px;
    position: absolute;
}

#login {
    left: 50px;
}
#register {
    left: 450px;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover .close:focus {
    color: #f44336;
    cursor: pointer;
}

/* ------------product-----------------0 */

/* --------------add to cart------------ */
/* .num {
    width: 20px;
    height: 30px;
    border: 3px solid black;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 18px;
    padding: 5px;
} */

.container1 {
    margin: auto;
    margin-top: 80px;
    background-color: #fff;
    /* background-image: url("/WebSales/image/images/2.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    /* border: 3px solid black; */
}
.col-md-,
.col-lg-4 {
    margin-bottom: 20px;
}
.sty {
    font-size: 20px !important;
    color: rgb(29, 29, 29);
    font-style: italic;
    /* background-color: #bef3ae; */
    font-family: sans-serif;
}
.num {
    width: 60px;
    height: 30px;
    border: 3px solid rgb(230, 222, 222);
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}
.uk-border-circle {
    width: 100px !important;
    height: 100px !important;
}
.uk-text-small {
    font-family: sans-serif;
}

.fa-cart-arrow-down {
    color: white;
    font-size: 50px;
    cursor: pointer;
    padding-left: 0px;
}
.uk-overflow-auto {
    width: 60%;
}

.uk-table-shrink {
    margin-left: 0px;
    /* background-color: #ffa502; */
}
.uk-table {
    border: 1px solid #999;
}
table {
    border: 1px solid #999;
}
